:root {
  --font: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #de265a;
  margin: 0;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  font-family: var(--font);
  font-size: 2rem;
  color: #FFFFFF;

  @media screen {
    
  }
}

main {
  display: flex;
}

article {
  width: 70vw;
  padding: 5vw;
  padding-left: 20vw;

}

article hr {
  border-color: #cee1f7;
  background-color: #cee1f7;
  border-width: 0.4rem;
  border-style: solid;
}

article h2 {
  font-family: var(--font);
  text-align: center;
  font-size: 2.8rem;
  font-weight: 300;
}

article p {
  padding-left: 1.8em;
  padding-right: 1.8em;
  font-family: var(--font);
}

aside {
  width: 30vw;
  padding-top: 10rem;
}

aside img {
  max-width: 80%;
}

aside h3 {
  font-family: var(--font);
  font-size: 1.6em;
  font-weight: lighter;
  margin: 0;
  padding-top: 0.4em;
}

aside p {
  padding-right: 2.8em;
  padding-top: 0.2em;
  margin: 0;
  font-family: var(--font);
}

@media only screen and (max-width: 872px) {

  header {
    font-size: 1rem;
  }
  
  main {
    flex-direction: column;
    align-items: center;
  }

  article {
    width: 90vw;
    padding-left: 5vw;
  }

  article h2 {
    font-size: 1.8rem;
  }

  aside {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-top: 4em;
  }

  aside img {
    max-width: 100%;
  }

  aside h3 {
    font-size: 1.5em;
  }

  aside p {
    padding-left: 2.4em;
    padding-right: 2.4em;
  }

}